@media screen and (max-width: 1270px){
    .col-md-1{
        width: 8.333333%;
    }
    .col-md-2{
        width: 16.66666%;
    }
    .col-md-3{
        width: 24.99999%;
    }
    .col-md-4{
        width: 33.33333%;
    }
    .col-md-5{
        width: 41.66666%;
    }
    .col-md-6{
        width: 50%;
    }
    .col-md-7{
        width: 58.33333%;
    }
    .col-md-8{
        width: 66.66666%;
    }
    .col-md-9{
        width: 74.99999%;
    }
    .col-md-10{
        width: 83.333333%;
    }
    .col-md-11{
        width: 91.666666%;
    }
    .col-md-12{
        width: 100%;
    }
}


@media screen and (max-width: 1024px) {
  .head__title {
    font-size: 49px;
  }
  .head__description {
    padding: 10px;
    display: block;
    font-size: 27px;
    color: var(--dark-grey-bg-color);
  }

  .head__link {
    margin: 15px auto;
  }
  .features_description {
    font-size: 16px;
    text-align: left;
  }
}

@media screen and (max-width: 812px) {
    
}
@media screen and (max-width: 768px) {
    .col-mx-1{
        width: 8.333333%;
    }
    .col-mx-2{
        width: 16.66666%;
    }
    .col-mx-3{
        width: 24.99999%;
    }
    .col-mx-4{
        width: 33.33333%;
    }
    .col-mx-5{
        width: 41.66666%;
    }
    .col-mx-6{
        width: 50%;
    }
    .col-mx-7{
        width: 58.33333%;
    }
    .col-mx-8{
        width: 66.66666%;
    }
    .col-mx-9{
        width: 74.99999%;
    }
    .col-mx-10{
        width: 83.333333%;
    }
    .col-mx-11{
        width: 91.666666%;
    }
    .col-mx-12{
        min-width: 100%;
    }
    .head {
      height: 100%;
      background-image: url(../img/Analizing-dark.png);
      background-repeat: no-repeat;
      background-size: cover;
  }
}

@media screen and (max-width: 736px) {
    
}

@media screen and (max-width: 414px) {
    .footer__info {
        min-width: 100%;
        align-items: flex-start;
    }
    .header {
      height: 70px;
      position: static;
  }


    
}



@media only screen and (min-width: 421px) and (max-width: 1023px) {
    .header {
      height: auto;
      position: static;
    }
  }
  @media only screen and (min-width: 421px) and (max-width: 767px) {
    .header .container {
      width: 421px;
      padding: 0 20px;
    }
  }  

  @media only screen and (min-width: 768px) and (max-width: 1023px) {
    .header .container {
      width: 768px;
      padding: 0 20px;
    }
  }
  
  @media only screen and (min-width: 1024px) and (max-width: 1365px) {
    .header .container {
      width: 1024px;
      padding-left: 20px;
      padding-right: 20px;
    }
  }

  @media (max-width: 420px) {
    .header .container {
      padding: 0 10px;
      width: 320px;
    }
  }
  
  @media (max-width: 420px) {
    .header__title {
      font-size: 24px;
    }
  }
  @media (max-width: 420px) {
    .header__desc {
      font-size: 12px;
    }
  }
  @media (max-width: 420px) {
    .header__nav {
      display: none;
    }
  }
  
  @media only screen and (min-width: 421px) and (max-width: 1023px) {
    .header__nav {
      display: none;
    }
  }
  @media (max-width: 420px) {
    .head .container {
      width: 100%;
    }
  }
  
  @media only screen and (min-width: 421px) and (max-width: 1023px) {
    .head .container {
      width: 100%;
    }
  }
  
  @media only screen and (min-width: 768px) and (max-width: 1023px) {
    .head .container {
      width: 100%;
    }
  }
  
  @media only screen and (min-width: 1024px) and (max-width: 1365px) {
    .head .container {
      width: 100%;
    }
  }          

  @media (max-width: 420px) {
    .head__vacancy {
      padding-top: 50px;
      height: auto;
    }
  }
  
  @media only screen and (min-width: 421px) and (max-width: 1023px) {
    .head__vacancy {
      padding-top: 50px;
      height: auto;
    }
  }
  @media (max-width: 420px) {
    .head__proposition {
      background: transparent;
      width: 90%;
      padding: 5px;
      text-align: center;
      color: var(--text-white);
    }
  }
  
  @media only screen and (min-width: 421px) and (max-width: 1023px) {
    .head__proposition {
        background: transparent;
        width: 90%;
        padding: 0px;
        text-align: center;
        color: var(--text-white);
    }
  }
  
  @media only screen and (min-width: 1024px) and (max-width: 1365px) {
    .head__proposition {
      height: 600px;
      width: 450px;
    }
  }
  @media (max-width: 420px) {
    .head__proposition_blue {
      display: none;
    }
  }
  
  @media only screen and (min-width: 421px) and (max-width: 1023px) {
    .head__proposition_blue {
      display: none;
    }
  }
  
  @media only screen and (min-width: 1024px) and (max-width: 1365px) {
    .head__proposition_blue {
      height: 600px;
      width: 450px;
    }
  }
  @media only screen and (min-width: 768px) and (max-width: 1365px) {
    .top_img {
      margin: 65px 0 0 -60px;
    }
  }
  
  @media (max-width: 420px) {
    .top_logo {
      width: 60px;
    }
  }
  @media (max-width: 420px) {
    .head__title {
      margin-bottom: 10px;
      font-size: 20px;
      font-weight: bold;
      text-transform: uppercase;
    }
  }
  
  @media only screen and (min-width: 421px) and (max-width: 767px) {
    .head__title {
      font-size: 30px;
      font-weight: bold;
      text-transform: uppercase;
    }
  }
  
  @media only screen and (min-width: 768px) and (max-width: 1023px) {
    .head__title {
        font-size: 25px;
        font-weight: bold;
        text-transform: uppercase;
        width: 400px;
        margin: 0 auto;
    }
  }
  @media (max-width: 420px) {
    .head__description {
      color: var(--text-white);
      display: inline-block;
      text-transform: uppercase;
      font-size: 16px;
    }
  }
  
  @media only screen and (min-width: 421px) and (max-width: 1023px) {
    .head__description {
      color: var(--text-white);
      display: inline;
      text-transform: uppercase;
      font-size: 18px;
    }
  }
  @media (max-width: 420px) {
    .head__link {
      display: block;
      margin: 0 auto;
      margin-top: 20px;
    }
  }
  
  @media only screen and (min-width: 421px) and (max-width: 1023px) {
    .head__link {
      margin-top: 10px;
      margin-bottom: 20px;
      font-size: 20px;
      text-transform: uppercase;
      width: 280px;
      padding: 15px 20px;
      display: flex;
      justify-content: center;
      background-color: #E60014;
    }
  }  
  @media (max-width: 420px) {
    .top_promotion {
      display: block;
      margin: 0 auto;
      margin-top: 20px;
    }
  }
  
  @media only screen and (min-width: 421px) and (max-width: 1023px) {
    .top_promotion {
      display: block;
      margin: 0 auto;
    }
  }
  @media (max-width: 420px) {
    .vacancy {
      background-color: #F5F7F9;
    }
  }
  
  @media only screen and (min-width: 421px) and (max-width: 1023px) {
    .vacancy {
      background-color: #F5F7F9;
    }
  }
  
  @media (max-width: 420px) {
    .vacancy .container {
      width: 100%;
    }
  }
  
  @media only screen and (min-width: 421px) and (max-width: 1023px) {
    .vacancy .container {
      width: 100%;
    }
  }
  
  @media only screen and (min-width: 1024px) and (max-width: 1365px) {
    .vacancy .container {
      width: 100%;
    }
  }

  @media (max-width: 420px) {
    .vacancy_text {
      width: 90%;
      font-size: 18px;
      padding: 10px;
      line-height: 1.5;
      margin: auto;
      background-color: var(--text-white);
      color: black;
      text-align: center;
      justify-content: space-between;
      border: 1px solid #E6E8EA;
    }
  }
  
  @media only screen and (min-width: 421px) and (max-width: 767px) {
    .vacancy_text {
      font-size: 18px;
      padding: 20px;
      line-height: 1.5;
    }
  }
  
  @media only screen and (min-width: 421px) and (max-width: 1023px) {
    .vacancy_text {
      width: 90%;
      margin: auto;
      background-color: var(--text-white);
      color: black;
      text-align: center;
      justify-content: space-between;
      border: 1px solid #E6E8EA;
    }
  }
  
  @media (max-width: 420px) {
    .vacancy_point {
      margin-top: 20px;
    }
  }
  
  @media only screen and (min-width: 421px) and (max-width: 1023px) {
    .vacancy_point {
      margin-top: 20px;
    }
  }
  
  @media only screen and (min-width: 421px) and (max-width: 767px) {
    .vacancy p {
      padding-top: 15px;
    }
  }

  @media (max-width: 420px) {
    .vacancy_title {
      padding-top: 25px;
      color: black;
      font-size: 20px;
      font-weight: normal;
      text-decoration: underline;
      text-decoration-color: #E60014;
      text-transform: uppercase;
    }
  }
  
  @media only screen and (min-width: 421px) and (max-width: 1023px) {
    .vacancy_title {
      padding-top: 25px;
      color: black;
      font-weight: normal;
      text-decoration: underline;
      text-decoration-color: #E60014;
      text-transform: uppercase;
    }
  }

  @media (max-width: 420px) {
    .vacancy_list {
      text-align: center;
    }
  }
  
  @media only screen and (min-width: 421px) and (max-width: 1023px) {
    .vacancy_list {
      text-align: center;
    }
  }
  @media screen and (min-width: 768px) {
    .vacancy_item {
      padding-left: 40px;
    }
    .vacancy_feature {
      display: flex;
      justify-content: space-between;
      padding: 0 100px;
      padding-bottom: 150px;
      padding-top: 50px;
    }
  }

  @media (min-width: 421px) {
    .mob{
      display: none!important;
    }
  }
  @media (max-width: 420px) {
    .vacancy_feature {
      flex-wrap: wrap;
      padding: 50px 0 0 0;
    }
    .head__link.mob{
      text-align: center;
    }
    #vacancy{
      padding-bottom: 40px;
    }
    button.form_submit{
      text-align: center;
    }
    .vacancy_featurebox{
      display: inline-block;
      text-align: center;
      width: 50%;
    }
  }
  
  @media only screen and (min-width: 421px) and (max-width: 1023px) {
    .vacancy_feature {
      flex-wrap: wrap;
      padding-bottom: 50px;
      align-items: center;
    }
  }
  
  @media only screen and (min-width: 1024px) and (max-width: 1365px) {
    .vacancy_feature {
      flex-direction: row;
      flex-wrap: wrap;
    }
  }
  @media (max-width: 420px) {
    .vacancy_featurebox {
      background-color: transparent;
      width: 50%;
      text-align: center;
    }
  }
  
  @media only screen and (min-width: 421px) and (max-width: 1023px) {
    .vacancy_featurebox {
      background-color: transparent;
      width: 250px;
      text-align: center;
      margin: 0 auto;
    }
  }  
  @media (max-width: 420px) {
    .vacancy_icon {
      width: 80px;
      height: 87px;
      padding: 0;
    }
  }
  
  @media only screen and (min-width: 421px) and (max-width: 1023px) {
    .vacancy_icon {
      width: 80px;
      height: 87px;
      padding: 0;
    }
  }
  @media (max-width: 420px) {
    .vacancy_description {
      color: var(--dark-grey-bg-color);
      font-size: 16px;
      margin: 0;
      padding-top: 10px;
      text-transform: uppercase;
    }
  }
  
  @media only screen and (min-width: 421px) and (max-width: 1023px) {
    .vacancy_description {
      color: var(--dark-grey-bg-color);
      font-size: 16px;
      margin: 0;
      padding-top: 10px;
      text-transform: uppercase;
    }
  }
  @media (max-width: 420px) {
    .features {
      background-image: url(../img/bg-footer-dark.png);
      background-repeat: no-repeat;
      background-size: cover;
      background-attachment: scroll;
      height: 600px;
    }
  }
  
  @media only screen and (min-width: 421px) and (max-width: 1023px) {
    .features {
      background-image: url(../img/bg-footer-dark.png);
      background-repeat: no-repeat;
      background-size: cover;
      background-attachment: scroll;
      height: 600px;
    }
  }

  @media (max-width: 420px) {
    .features .container {
      width: 100%;
      height: 80%;
      justify-content: center;
    }
  }
  
  @media only screen and (min-width: 421px) and (max-width: 1023px) {
    .features .container {
      width: 100%;
      height: 80%;
      justify-content: center;
    }
  }
  
  @media only screen and (min-width: 1024px) and (max-width: 1365px) {
    .features .container {
      width: 100%;
    }
  }
  @media screen and (min-width: 421px){
    .only-mob{
        display: none;
    }
}
@media (max-width: 420px) {
    .no-mob{
        display: none;
    }
  .features_box {
    padding: 0;
    height: auto;
    background: transparent;
    color: var(--text-white);
    text-align: center;
    z-index: 5;
    width: 90%;
  }
}

@media only screen and (min-width: 421px) and (max-width: 1023px) {
  .features_box {
    padding: 0;
    height: auto;
    background: transparent;
    color: var(--text-white);
    text-align: center;
    z-index: 5;
    width: 90%;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1365px) {
  .features_box {
    width: 90%;
    margin: 0 auto;
  }
}

@media (max-width: 420px) {
    .only-mob{
        display: block;
    }
    .header__text{
        justify-content: center;
    }
  .features_title {
    font-size: 24px;
    padding-top: 80px;
  }
    #features.second-land .features_title{
        padding-top: 0;
    }
    #features.second-land .features_description{
        text-transform: unset;
    }
    .padding-v-20_50 {
        padding: 20px 0 0 0;
    }
    .padding-v-20_50 small{
        font-size: 9px;
    }
}
@media (max-width: 420px) {
    .features_line {
      align-items: center;
    }
  }
  
  @media only screen and (min-width: 421px) and (max-width: 1023px) {
    .features_line {
      align-items: center;
    }
  }
  @media (max-width: 420px) {
    .features_subtitle {
      font-size: 18px;
      text-transform: uppercase;
      font-weight: bold;
    }
  }
  
  @media only screen and (min-width: 421px) and (max-width: 1023px) {
    .features_subtitle {
      font-size: 18px;
      text-transform: uppercase;
      font-weight: bold;
    }
  }
  @media (max-width: 420px) {
    .features_description {
      font-size: 18px;
      text-transform: uppercase;
    }
  }
  
  @media only screen and (min-width: 421px) and (max-width: 1023px) {
    .features_description {
      font-size: 18px;
      text-transform: uppercase;
    }
  }
  @media (max-width: 420px) {
    .features_result {
      display: none;
    }
  }
  
  @media only screen and (min-width: 421px) and (max-width: 1023px) {
    .features_result {
      display: none;
    }
  }  

  @media screen and (max-width: 375px) {
    .head__title {
      font-size: 16px;
  }
  
  }
  
  @media screen and (max-width: 320px) {
    .head__title {
      font-size: 15px;
  }

  .head__description {
    font-size: 14px;
   }

   .vacancy_title {
    font-size: 16px;
  }
  .sec2-item {
    font-size: 14px;
}
  .sec2-item .sec2-item-title {
    font-size: 14px;
  }

  .vacancy_text {
    width: 100%;
  }
  #features.second-land {
    padding: 30px 0;
  }
  .features_title {
    font-size: 16px;
  }

  .features_line {
    margin-top: 25px;
}
  .features_subtitle {
    font-size: 14px;
  }

  .features_description {
    font-size: 14px;
}
}